<div class="speaker-list-container">
    <div class="list-header">
        <mat-icon class="header-icon">library_music</mat-icon>
        <span>Speakers</span>
        <mat-icon>
          @if (opened()) {
            left_panel_open
          } @else {
            left_panel_closed
          }
        </mat-icon>
    </div>

    @let _speakers = speakers();

    @if (loading()) {
        <div class="loading-container">
            <mat-spinner diameter="32"></mat-spinner>
        </div>
    } @else if (_speakers.length === 0) {
        <div class="empty-state">No speakers found.</div>
    } @else {
        <mat-nav-list>
            @for (speaker of _speakers; track speaker.id) {
                <mat-list-item
                    [class.active]="selectedId() === speaker.id"
                    (click)="select(speaker)">
                    <mat-icon matListItemIcon>person</mat-icon>
                    <span matListItemTitle>{{ speaker.name }}</span>
                </mat-list-item>
            }
        </mat-nav-list>
    }
</div>
